@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  background: linear-gradient(135deg, #feccff, #ccf7fe, #fcffe4);
  background-attachment: fixed;
  transition: 0.5s;

  button {
    cursor: pointer;
  }

  input {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
  }

  .container {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .create {      
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 700px;
      padding: 0 30px;
      background-color: rgb(255, 234, 234);
      border: 3px solid rgb(235, 186, 186);
      border-radius: 10px;

      h1 {
        font-family: 'Solitreo', cursive;
        text-align: center;
        margin: 20px auto;
        font-size: 50px;  
      }

      .insert-section{
        display: flex;
        gap: 10px;

        input {
          padding: 10px;
          font-size: 20px;
          border-color: rgb(12, 12, 12);
          border-style: solid;
          border-radius: 10px;
        }
  
        .btn-insert {
          font-size: 30px;
          width: 50px;
          border-radius: 10px;
          background-color: rgb(205,247,253);
          transition: .5s;
        }

        .btn-insert:hover {
          background-color: rgb(131, 236, 252);
        }

        .btn-all-delete {
          display: none;
          border-radius: 10px;
          font-weight: bolder;
          background-color: rgb(221, 202, 255);
          transition: .5s;
        }

        .btn-all-delete:hover {
          background-color: rgb(166, 116, 253);
        }
      }
    }
    .list-container {
      width: 100%;
      background-image: url('../images/loading.gif');
      background-repeat: no-repeat;
      background-position: center;

      .list {
        width: 100%;
        margin-top: 50px;
  
        .handle {
          font-size: 30px;
          font-weight: 100;
          cursor: move;
        }
  
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 8px;
          padding: 5px;
          border-bottom: 1px solid rgb(177, 177, 177);
          text-decoration-thickness: 1.5px;
  
          input {
            width: 20px;
            height: 20px;
          }
  
          p {
            flex-grow: 1;
            padding: 10px;
            cursor: default;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: bold;
            font-size: 20px;
          }
  
          span {
            font-size: 13px;
            font-weight: bold;
            flex-grow: 1;
            line-height: 1.5;
            display: block;
            font-family: 'Poppins', sans-serif;
          }
  
          .btn-delete {
            margin-left: 10px;
            font-size: 20px;
            width: 30px;
            height: 30px;
            border: none;
            background-image: url(../images/delete.png);
            background-size: cover;
            background-color: transparent;
          }
          
          .btn-delete:hover {
            background-color: transparent;
            background-image: url(../images/delete.gif);
          }
  
        }
      }
  
    }
    
    #notice {
      padding: 20px;
      font-weight: bold;
    }
  }

  .modal-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    backdrop-filter: blur(2px);
    display: none;

    .modal-content {
      position: fixed;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 600px;
      height: 200px;
      background-color: rgb(231, 255, 253);
      border: 3px solid rgb(235, 186, 186);
      border-radius: 15px;

      .title {
        margin-top: 10px;
        margin-left: 40px;
        display: flex;
        align-items: center;
      
        h2 {
          font-weight: bold;
          font-size: 25px;
        }

        .h2-img {
          width: 50px;
          height: 50px;
          background-color: transparent;
          background-size: cover;
          background-image: url(../images/pencil.png);
        }
      }
      input {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 10px;
        font-size: 20px;
        width: 80%;
        border-radius: 20px;
        border-color: rgb(12, 12, 12);
        border-style: solid;
      }

      #btn-modify {
        position: absolute;
        bottom: 0;
        right: 80px;
        margin: 10px;
        width: 40px;
        height: 40px;
        border: none;
        background-image: url(../images/edit.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
      }

      #btn-cancel {
        position: absolute;
        bottom: 0;
        right: 10px;
        margin: 10px;
        width: 40px;
        height: 40px;
        border: none;
        background-image: url(../images/cancel.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
      }
    }
  }

  .fixed-loading {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/loading.gif);
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px);
    display: none;
  }
  
}
